@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-foreground: #121212;
  --color-background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: #fff;
    --color-background: #121212;
  }
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
}

/* https://tailwindcss.com/docs/reusing-styles#extracting-classes-with-apply */

@layer components {
}
