@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-foreground: #121212;
  --color-background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: #fff;
    --color-background: #121212;
  }
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
}

/* https://tailwindcss.com/docs/reusing-styles#extracting-classes-with-apply */

@layer components {
  .form-field {
    @apply outline-none border rounded focus:border-2 focus:border-tweeter-blue p-2 bg-inherit border-black/10 dark:border-white/10;
  }

  .form-field-select {
    @apply flex flex-col flex-grow border rounded border-black/10 dark:border-white/10 p-1;
  }

  .form-field-select select {
    @apply bg-inherit outline-none cursor-pointer;
  }

  .form-field-select label {
    @apply text-sm dark:text-gray-500 text-gray-900 pl-1;
  }

  .form-field-select select optgroup,
  .form-field-select option {
    @apply bg-white dark:bg-black;
  }
}
